@import "../Styles/variables.css";

.button-standard {
    font-weight: 600;
    padding: 16px 38px;
    border-radius: 15px;
    background-color: var(--primary-color);
    border: solid #000 2px;
    text-transform: lowercase;
    font-size: 17px;
    transition: all 0.2s ease;
    box-shadow: 2px 2px 0px black;
    cursor: pointer;
}

.button-standard:hover {
    transform: scale(105%);
    transition: all 0.2s ease;
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 1);
}

.button-standard:active{
    box-shadow: 0px 0px 0px;
    transform: scale(100%);

}